.forecast_container{
    
}

.forecast{
    border-radius: 5px;
    margin: 2rem;
    text-align: center;
}

.forecast_day{
    font-size: 2rem;
    font-weight: 600;
}

.forecas_description{
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 16px;
}

.forecast_temp{
    font-size: 20px;
}